.modal {
    top: '95%';
    left: '50%';
    right: 'auto';
    bottom: 'auto';
    margin-right: '-50%';
    width: '60%';
    transform: 'translate(-40%, -10%)';
}

.header{
    background-color: rgb(226, 149, 114);
    display: "flex";
    justify-content: "center";
    align-items: "center";
} 

/* .custom-button {
    background-color: #d4724c;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}
.confirm-button:hover {
    background-color: #48eb73;
    box-shadow: 0 14px 28px rgba(224, 28, 28, 0.25), 0 10px 10px rgba(190, 24, 24, 0.22);
  }
  
.confirm-button:active {
    background-color: #dc2b2b;
    box-shadow: 0 3px 6px rgba(255, 235, 235, 0.16), 0 3px 6px rgba(255, 11, 11, 0.23);
} */



.modal-title {
    text-align: center;
    color: rgb(29, 27, 27);
}

